<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Loja Rōju - O mundo dos Games</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      

      <form class="d-flex">

        <button class="btn btn-outline-dark" type="submit">
          <a th:href="@{verCarrinho}">
          <i class="bi-cart-fill me-1"></i>
          Ver Carrinho
          </a>
          <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
        </button>

        <button class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Card
          </a>
          <span class="badge bg-dark text-white ms-1 rounded-pill"><p th:text="${qtdItens}"></p></span>
        </button>
      </form>

    </div>
  </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Loja Rōju</h1>
      <p class="lead fw-normal text-white-50 mb-0">O mundo dos Games</p>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div th:each="jogo : ${jogos}" th:object="${jogo}" th:if="${jogo.deleted == null}">
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" th:src="*{imageUri}" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder" th:text="*{nome}"></h5>
              <!-- Product price-->
              <h5 class="fw-bolder" th:text="*{preco}"></h5>
              <h5 class="fw-bolder" th:text="*{classificacao}"></h5>
              <h5 class="fw-bolder" th:text="*{desenvolvedores}"></h5>
              <h5 class="fw-bolder" th:text="*{genero}"></h5>
              <h5 class="fw-bolder" th:text="*{dataDeLancamento}"></h5>
              <h5 class="fw-bolder" th:text="*{plataformas}"></h5>
              
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{'adicionarCarrinho/'+${jogo.id}}">Adicionar Carrinho</a></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">TADS &copy; Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
